<%# <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> %>
    <h1>Welcome to the Eras Tour </h1>
    <p><br>====================================================<br>
    </p>
    <p>
        We are going on a little adventure and this adventure is going to spend 17 years of music,
        with one era at a time, how does that sound?
    </p>
  <%# </body>
</html> %>